*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #cccccc;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* flex: 1; */
    width: 100%;
    margin-top: 100px;
    padding-top: 0;
}

h1 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h2 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h3 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h4 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h5 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h6 {
    color: #f0f0f0;
    font-weight: 700;
    margin: 0.5em 0;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}

a {
    color: #f1c87a;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
a:hover {
    color: #4c9484;
    opacity: 0.8;
}

a:focus {
    outline: 2px solid #f1c87a;
}

button {
    background-color: #f1c87a;
    color: #1e1e1e;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.button {
    background-color: #f1c87a;
    color: #1e1e1e;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
button:hover {
    cursor: pointer;
    background-color: #4c9484;
    color: #1e1e1e;
    opacity: 0.8;
}
button:focus {
    cursor: pointer;
    background-color: #4c9484;
    color: #1e1e1e;
    opacity: 0.8;
}
.button:hover {
    cursor: pointer;
    background-color: #4c9484;
    color: #1e1e1e;
    opacity: 0.8;
}
.button:focus {
    cursor: pointer;
    background-color: #4c9484;
    color: #1e1e1e;
    opacity: 0.8;
}

button:active {
    background-color: #2a7a5b;
}

.button:active {
    background-color: #2a7a5b;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.page-header_item {
    text-decoration: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    -ms-flex-line-pack: center;
        align-content: center;
}

.logo {
    letter-spacing: 0.8px;
}

.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list{
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
}

.navigation-list_item {
    margin-right: 20px;
    text-decoration: none;
}

.navigation-list_item-active {
  text-decoration: underline;
}

.navigation-list_item:hover {
    text-decoration: underline;
}

.profile-main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 0;
}

.profile {
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile_portrait {
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    letter-spacing: 0.8px;
}
.profile_text h1 {
    line-height: 0.8;
}
.profile_text h1, .profile_text h3{
    margin: 5px;
}

.profile_text-style {
    background-color: #cccccc;
    color: #1e1e1e;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    margin-top: auto;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
}
.work {
    margin: 0 20px;
}

.work h1 {
    text-align: center;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 20px;
    padding: 0;
}

.grid_item {
    background-color: #1a2a2f;
    display: inline-block;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.grid_item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.grid_item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer;
}

.link-decoration {
    text-decoration: none;
}
 /* About.html stlyes */
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 800px;
}

.about p {
    margin: 0 20px;
    padding: 10px 0;
}

.about .button {
    margin-top: 50px;
}

.about-img {
    max-width: 800px;
}

/* Contact.html stlyes */
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 800px;
}

.contact p {
    text-align: center;
}

.contact .button {
    display: block;
    margin-top: 30px;
}


 /* Responsive */
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .page-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .page-header_item{
        text-decoration: none;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50px;
                flex: 0 1 50px;
    }
    .about .button {
        margin-top: 20px;
    }
    .contact .button {
        margin-top: 10px;
    }
    .about p {
        margin: 0 15px;
    }
    .page-header_item h1 {
        text-align: center;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .page-header {
        padding: 15px;
    }
}
@media all and (max-width: 750px) {
    main {
        margin-top: 50px;
    }
    .grid {
        grid-gap: 10px;
    }
    .grid_item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    body{
        font-size: 14px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .page-header_item:last-child {
        text-align: center;
    }
    .page-header_item h1 {
        font-size: 25px;
    }
    .page-footer {
        padding: 20px;
    }
    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .profile_portrait {
        margin: 0 0 20px 0;
        width: 150px;
    }

    .profile_text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    button, 
    .button {
        padding: 5px;
        font-size: 14px;
    }
}